<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing SCORE App">
    <test name="Regression">
        <classes>
            <class name="com.score.ScoreApp"/>
<!--            <class name="Googletest.MapsTest"/>-->
<!--            <class name="Googletest.ImagesTest"/>-->
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->